<div class="header">
  <h1><%= Person.model_name.human(count: 2) %></h1>
</div>

<div class="content">

  <section id="data">
    <div id="toolbar_search"></div>
    <table id="people"></table>
  </section>

  <section class="options">
    <%= link_to t(".new_person"), new_person_path, class: 'pure-button pure-button-primary' %>
  </section>

</div>
