
<div class="header">
  <h1>Tasks</h1>
</div>

<div class="content">

  <section id="data">
    <div id="toolbar_search"></div>
    <table id="tasks"></table>
  </section>

  <section class="options">
  <% if policy(Task).new? %>
    <%= link_to "Nueva Task", new_task_path, class: 'pure-button pure-button-primary' %>
  <% end %>
  </section>

</div>

<div id="tasks_dialog">
  <div id="tasks_toolbar_search"></div>
  <table id="tasks"></table>
  <button id="invite" class="pure-button pure-button-primary">Agregar</button>
</div>

<div id="tasks_dialog"></div>
