<div class="header">
  <h1>Eventos</h1>
</div>

<div class="content">

  <section id="data">
    <div id="toolbar_search"></div>
    <table id="events"></table>
  </section>

  <section class="options">
  <% if policy(Event).new? %>
    <%= link_to "Nuevo Evento", new_event_path, class: 'pure-button pure-button-primary' %>
  <% end %>
  </section>

</div>

<div id="invitations_dialog">
  <div id="event_invitations_toolbar_search"></div>
  <table id="event_invitations"></table>
  <button id="search" class="pure-button pure-button-primary">Buscar personas</button>
</div>

<div id="people_dialog">
  <div id="event_people_toolbar_search"></div>
  <table id="event_people"></table>
  <button id="invite" class="pure-button pure-button-primary">Invitar</button>
</div>

<div id="tasks_dialog"></div>
