<div class="header">
  <h1><%= Event.model_name.human(count: 2) %></h1>
</div>

<div class="content">

  <section id="data">
    <div id="toolbar_search"></div>
    <table id="events"></table>
  </section>

  <section class="options">
  <% if policy(Event).new? %>
    <%= link_to t(".new_event"), new_event_path, class: 'pure-button pure-button-primary' %>
  <% end %>
  </section>

</div>

<div id="people_dialog"></div>
<div id="tasks_dialog"></div>
