<div class="header">
  <h1>EventId | Invitations</h1>
</div>

<div class="content">

  <section id="data">
    <div id="toolbar_search"></div>
    <table id="invitations"></table>
  </section>

  <section class="options">
  <% if policy(Invitation).new? %>
    <%= link_to "Nueva Invitación", new_invitation_path, class: 'pure-button pure-button-primary' %>
  <% end %>
  </section>

</div>



